/*  VIKTIG DETTE ER KODE FOR MALEN TIL CSS - BRUKES SOM UTGANSPUNKT FOR ALLE SIDER I FLYFJORD (MED BORDER SOLID FOR ELEMENTENE
------------------------------------*/

/*  Hovedelementene 
------------------------------------*/
html {
  box-sizing: border-box;
}

body {
  font-family: 'DM Sans', sans-serif;
  background: #fdf8f4;
  color: #3b4555;
  margin: 0px;
}

.title {
  color: #0c1d37;
}

a {
  color: #0c1d37;
}

a:hover {
  color: #ff6501;
}

img {
  max-width: 68%;
  height: auto;
}

table {
  font-family: 'DM Sans', sans-serif;
  border-collapse: collapse;
  width: 100%;

}

td, th {
  border: 1px solid #dddddd;
  text-align: center;
  padding: 10px;
}

/* Layout: på container
------------------------------------*/
.container {
  width: 100%;
  max-width: 1140px;
  padding: 0px 24px;
  margin-left: auto;
  margin-right: auto;
}

/* Layout: for grid
------------------------------------*/
.row {
  display: flex;
  flex-wrap: wrap;
  margin: 0px -12px;
}

.col {
  flex: 1 0 0%;
  padding: 0px 12px;
}



/* Components: knappene - button
------------------------------------*/
.btn {
  display: inline-block;
  padding: 18px 40px;
  font-size: 18px;
  font-weight: 500;
  line-height: 1.15;
  text-align: center;
  text-decoration: none;
  border-radius: 50px;

}

.btn-primary {
  background-color: #0c1d37;
  color: #fff;
}

.btn-primary:hover {
  background-color: #ff6501;
  color: #fff;
}

/*Knapp til Brukernavn Side / Slett - Inspirasjon fra en annen knap tilpasset til min nettside (Flyr) - Gjenbruk med tilpasning*/
.css-172 {
  font: inherit;
  background: none rgb(255, 196, 165);
  margin: 0px;
  border: none;
  text-align: left;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  border-radius: 4px;
  padding: 10px 20px;
  color: rgb(19, 29, 34);
  position: relative;
  width: 50%;
}

/* Components: CSS for navbar
------------------------------------*/
.navbar-wrapper {
  height: 74px;
}

.navbar {
  position: fixed;
  top: 0px;
  left: 0px;
  right: 0px;
  padding: 16px 0px;
  text-align: center;
  background-color: #fdf8f4;
  box-shadow: 0 15px 50px -10px rgb(100 44 0 / 7%);
}

.navbar-container {
  display: grid;
  grid-template-columns: auto auto auto;
  grid-template-rows: auto;
  gap: 10px;
  align-items: center;
  max-width: 1140px;
  padding: 0px 24px;
  margin-left: auto;
  margin-right: auto;
}

.navbar-brand {
  justify-self: start;
  padding: 5px 0px;
  font-size: 24px;
  font-weight: 600;
  color: #0c1d37;
  text-decoration: none;
}

.navbar-nav {
  display: inline-block;
  margin: 0;
  padding: 0;
}

.nav-item {
  display: inline-block;
}

.nav-link {
  display: inline-block;
  padding: 12px 15px;
  color: #0c1d36;
  font-size: 16px;
  font-weight: 500;
  line-height: 1.15;
  text-decoration: none;
}

.nav-link:hover {
  background-color: hsl(27deg 69% 94%);
  border-radius: 50px;
}

/* Components: Mediaqueries for nettsiden og navbar / Mobil og PC Visning
------------------------------------*/
@media (max-width: 991px) {
  .navbar-nav {
    display: none;
    order: 3;
    grid-column: 1 / span 3;
  }

  .nav-item {
    display: block;
  }

  .nav-link {
    display: block;
  }
}

.navbar-nav.show {
  display: inline-block;
}

.navbar-right {
  justify-self: end;
}

@media (max-width: 991px) {
  .navbar-right {
    order: 2;
    grid-column: 2 / span 2;
  }  
}

.navbar-button {
  display: inline-block;
  padding: 10px 20px;
  font-size: 15px;
  font-weight: 500;
  line-height: 1.15;
  text-decoration: none;
  border: 2px solid #0c1d37;
  border-radius: 50px;
}

.navbar-button:hover {
  color: white;
  background-color: #0c1d37;
}

.navbar-toggle {
  display: none;
}

@media (max-width: 991px) {
  .navbar-toggle {
    display: inline-block;
    vertical-align: middle;
    padding: 8px;
    margin-left: 5px;
    cursor: pointer;
    border-radius: 50%;
    border: 2px solid transparent;
    background: transparent;
  }
  
  .navbar-toggle svg {
    display: block;
    margin: 0 auto;
    text-align: center;
  }

  .navbar-toggle.show {
    background: #ff6501;
    color: white;
  }
}

/* Components: section-hero for SEO Optimalisering Kilde/Bruk fra: https://superuser.com/questions/912654/how-to-remove-folders-from-visual-studio-code
------------------------------------*/
.section-hero {
  padding: 125px 0px;
  text-align: center;
}

.hero-title {
  margin-top: 0px;
  margin-bottom: 32px;
  font-size: 60px;
  font-weight: 600;
  line-height: 1.2;
  letter-spacing: -1px;
  color: #0c1d37;
}

.hero-text {
  margin-top: 0px;
  margin-bottom: 32px;
  font-size: 18px;
  line-height: 1.7;
  color: #3b4555;
}

/* Components: Footer CSS Kode
------------------------------------*/
.section-footer {
  padding: 30px 0px 20px;
  border-top: 1px solid #faefe5;
}

.footer-text {
  margin: 0px;
}

.footer-link {
  display: inline-block;
  text-decoration: none;
  padding-left: 20px;
  line-height: 1;
}


/* Utility: Flexbox
------------------------------------*/
.d-flex {                               /*Hovedsetter Flex som standard i CSS dokumentet*/
  display: flex;
}

.justify-content-start {
  justify-content: flex-start;
}

.justify-content-end {
  justify-content: flex-end;
}

/* Utility: Avstand / Spacing på Siden
------------------------------------*/
.ml-auto {
  margin-left: auto;
}

.mr-auto {
  margin-right: auto;
}

/*  ELEMENTER FOR DE ANDRE SIDENE / SITEMAP TIL FLYFJORD 
------------------------------------*/
/*  Compoments: Forms
------------------------------------*/
.elem-group{
  margin: 20px 0;
}
/*  Input, Select, Textarea styrer CSS Designet til Formen / Booking osv
------------------------------------*/
input, select, textarea {
  border-radius: 50px;
  border: 2px solid #3b4555;
  box-sizing: border-box;
  font-size: 1.25em;
  font-family: 'DM Sans',Italic,sans-serif; /* La til samme tekst font som hovedside for gjennomgående design, bedre optimalisering*/
  width: 100%;
  padding: 10px;
}


